{% extends "layout.html" %}
{% block body %}
<div id="header">
	<h1 style="float:left">Heating Manager</h1>
	<div id="gauge"></div>
	<img id="logo" src="static/Viessmann_Logo.jpg">
</div>
<div id="nav">
<input class="burger-check" id="burger-check" type="checkbox">
<label for="burger-check" class="burger"></label>
<nav id="navigation1" class="navigation">
  <ul>
    <li><a href="#">Start</a></li>
    <li><a href="{{url_for('vorhersage')}}">Vorhersage</a></li>
    <li><a href="#">Zielrechner</a></li>
    <li><a href="#">Raumkonfigurator</a></li>
    <li><a href="#">Heizverhalten</a></li>
  </ul>
</nav>
</div>
<div id="chart_div"></div>

{% endblock %}
