{% extends "layout.html" %}
{% block body %}
<div id="header">
	<h1 style="float:left">Heating Manager</h1>
	<div id="gauge"></div>
	<img id="logo" src="static/Viessmann_Logo.jpg">
</div>
<div id="nav">
<input class="burger-check" id="burger-check" type="checkbox">
<label for="burger-check" class="burger"></label>
<nav id="navigation1" class="navigation">
  <ul>
    <li><a href="{{url_for('index')}}">Start</a></li>
    <li><a href="{{url_for('vorhersage')}}">Vorhersage</a></li>
    <li><a href="{{url_for('zielrechner')}}#">Zielrechner</a></li>
    <li><a href="{{url_for('konfigurator')}}">Raumkonfigurator</a></li>
    <li><a href="{{url_for('verhalten')}}">Heizverhalten</a></li>
  </ul>
</nav>
</div>
<h1 class="heading">Raumkonfigurator: Individuelle Einstellmöglichkeiten pro Raum</h1>
<script>
  $(function() {
    $( "#radio" ).buttonset();
    $( "#radio_az" ).buttonset();
    $('#radio1').click(function(){
        $('.toggle').hide();
    });
    $('#radio2').click(function(){
        $('.toggle').show();
    });
		$('#radio3').click(function(){
        $('.toggle2').hide();
    });
    $('#radio4').click(function(){
        $('.toggle2').show();
    });
  });
</script>

<div style="margin-left: 300px; margin-top: 20px;">
	<div class="rcorners2">
		<b>Wohnzimmer</b>
		<br />
		<br />
		Dauerbeheizt: 
		<br />
		<br />
		<div id="radio">
			<input type="radio" id="radio1" name="radio" checked="checked"><label for="radio1">An</label>
			<input type="radio" id="radio2" name="radio"><label for="radio2">Aus</label>
		</div>
		<div class="toggle"  style="display:none">
			<form id="temperature">
				<br />
				<label for="min">Heizen f&uuml;r</label>
				<select name="min" id="min">
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
				</select>
				Stunden
			</form>
		</div>
	</div>
	<div class="rcorners2">
		<b>Arbeitszimmer</b>
		<br />
		<br />
		Dauerbeheizt: 
		<br />
		<br />
		<div id="radio_az">
			<input type="radio" id="radio3" name="radio_az"><label for="radio3">An</label>
			<input type="radio" id="radio4" name="radio_az" checked="checked"><label for="radio4">Aus</label>
		</div>
		<div class="toggle2">
			<form id="temperature">
				<br />
				<label for="min">Heizen f&uuml;r</label>
				<select name="min" id="min">
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
				</select>
				Stunden
			</form>
		</div>
	</div>

</div>
{% endblock %}
