#header{
	background-color: #FF1C01;
	color: white;
	padding: 15px;
	font-family: sans-serif;
	width: 100%;
	height: 80px;
}
#logo{
	height: 80px;
	float: right;
	margin-top: 10px;
	margin-right: 50px;
}
#gauge{
	width:400px;
	height:80px;
	float:right;
	margin-top:0px;
}
#chart_div{
        float: left;
}
body{
	margin: 0px;
  font-family: sans-serif;
}

.burger {
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid currentColor;
  width: 28px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
  color: white;
}
.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.burger:before {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger:after {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}
.burger-check:checked ~ .burger:before {
  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check:checked ~ .burger:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.navigation {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.burger-check:checked ~ .navigation {
  max-height: 500px;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

#nav {
  padding-left: 10px;
  padding-top: 25px;
  padding-bottom: 10px;
  margin-right: 10px;
  display: block;
  float: left;
  height: 100vh;
  width: 220px;
	background-color: #FF1C01;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 25px;
  padding: 5px 0;
}
li a {
  text-decoration: none;
  color: white;
}

li a:hover {
  text-decoration: underline;
}

#slider {
  margin-left: 300px;
	margin-right: 25px;
  /*float:left;*/
}
#vorhersage{
	margin-left: 300px;
}

.rcorners2 {
    border-radius: 25px;
    border: 2px solid #FF1C01;
    padding: 20px; 
		margin: 10px;
    width: 200px;
    height: 150px;    
		float: left;
}
#slider_cost {
  margin-left: 300px;
	margin-right: 25px;
  /*float:left;*/
}
.heading{
	font-family: sans-serif;
	color: #222; 
	text-align: left;
	margin-left: 400px;
	margin-top: 50px;
}
